:root {
    --blue-color: #2196f3;
    --blue-color-hover-button: #188CE8;
    --black-gray-color: #212121;
    --light-gray-color: #757575;
    --text-white-color: #fff;
    --text-black-color: #000000;
    --section-bacground-color: #fff;
    --footer-and-hero-bacground-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(---text-black-color);
    background-color: var(--section-bacground-color)
}

ul {
    list-style-type: none;
}
.visually-hidden {
 position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Стили для секции header*/


/*Часть лого web принимает голубой цвет */
.web {
    color: var(--blue-color);
}

/*Часть лого studio принимает черный цвет */
.studio {
    color: var(--text-black-color);
}

/*определение шрифта и размера для начертания лого в header&footer */
.web,
.studio,
.studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.91;
    letter-spacing: 0.03em;
}

/*убираем подчеркивание тега <a> в лого в header&footer */
.none-underline {
    text-decoration: none;
}

/*отрисовка меню навигации*/
.header-nav-point {
    text-decoration: none;
    color: var(--black-gray-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav-active {
   text-decoration: none;
    color: var(--blue-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}

/*отрисовка ссылок*/
.header-contact-point {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--light-gray-color);
}

/*переопредеоение цвета меню и ссылок при ховере\фокусе */
.header-nav-point:hover,
.header-nav-point:focus,
.header-contact-point:hover,
.header-contact-point:focus {
    color: var(--blue-color);
}

/*Стили для секции main*/

/*задание общего стиля заголовкам h2 с одинаковыми стилями шрифта */
.index-h2 {

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-gray-color);
}

/*определение цвета фона  для секции герой*/
.hero {
    background-color: var(--footer-and-hero-bacground-color);
}

/*определение шрифта заголовка первого уровня для секции герой*/
.hero-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white-color);
}

/*отрисовка кнопки для секции герой*/
.hero-button {
    /*position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;*/

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-white-color);
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

/*переопределение цвета кнопки при ховере\фокусе в секции герой*/
.hero-button:hover,
.hero-button:focus {
    background: var(--blue-color-hover-button);

}




/*определение заголовка секции Особливості. Потом надо сделать невидимым*/
.feature-h2 {
/*.visually-hidden */
}

/*определение заголовка карточек в секции Особливості. */
.feature-h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-gray-color);
}

/*определение параграфа карточек в секции Особливості. */
.feature-p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}

/*определение стилей секции Чим ми займаємося */



/*определение стилей секции Наша команда */

/*Задание цвета фона секции Наша команда */
.teams {
    background-color: #F5F4FA;
}

/*формирование карточек в секции Наша команда. */
.teams-card {
    /* display: inline-block;*/
    width: 270px;
    height: 368px;
    background-color: var(--section-bacground-color) box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*определение заголовка секции Наша команда ... переопределено в style-h2
.teams-h2 {
   
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-gray-color);
}
*/

/*определение заголовка карточки секции Наша команда */
.teams-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black-gray-color);
}

/*определение параграфа карточки секции Наша команда */
.teams-p {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}

/*определение стилей футера */
footer {
    background-color: var(--footer-and-hero-bacground-color);
}

/*

/*определение стилей для адреса -город\улица. Общий класс не срабатывает*/
.city {
    color: var(--text-white-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/*определение стилей для адреса - контакты*/
.footer-point {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.city:hover,
.city:focus,
.footer-point:hover,
.footer-point:focus {
    color: var(--blue-color);
}

/*Часть лого web принимает белый цвет */
.studio-footer {
    color: var(--text-white-color);
}

/*задание стилей для страницы портфолио */

/*Стилизация секции main portfolio.html*/

/*Заголовок секции сделать позже невидимым. */
.portfolio-h1 {
   
    /*visibility: hidden;*/
 /*used class .visually-hidden */

}

/*определям внешний вид кнопок фильтра работ */
.filter-button {
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-gray-color);
    cursor: pointer;
}

/*переопределяем цвет кнопок фильтра работ при ховере\фокусе\active*/
.filter-button:hover,
.filter-button:active,
.filter-button:focus {
    background: var(--blue-color);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /*border-color: var(--blue-color);*/
    color: var(--text-white-color);
}

/*Формируем список примеров работ и определяем стили карточек*/

.portfolio-list-card {
    background: var(--section-bacground-color);
    border: 1px solid #EEEEEE;
    width: 370px;
    box-sizing: border-box;
}

/*Убираем подчеркивание тега <а> */
.portfolio-list-card-item {
    text-decoration: none;
}

/*Задаем стиль заголовка карточки проекта*/
.portfolio-list-card-item>h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-gray-color);
}

/*Задаем стиль абзаца карточки проекта*/
.portfolio-list-card-item>p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}